body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  margin: 0;
  background: #101010;
  color: aliceblue;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 64px;
  font-weight: bold;
}
