*{
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  background: #101010;
  color: aliceblue;
  margin: 0;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 64px;
  font-weight: bold;
}

.month-day{
  font-size: 22px;
}